{%extends "base.html"%} {%block h1%} {%endblock%} {%block content%}
<div class="maindiv">
  <p class="Description">
    Our free topic is to create a tool that detects islamophobia. Islamophobia
    is prejudice against Islam or Muslims. Such prejudice can manifest in
    speech, comments, news articles, and other sources. Creating a text
    classifier with the ability to identify islamophobic rhetoric allows us to
    efficiently classify various news articles, subreddits, and other web
    sources as islamophobic. Also, we plan to collect metadata for each analyzed
    item, which allows us to create visualizations about islamophobia. Simply
    put, our tool’s main functionality is to detect any islamophobic rhetoric,
    allow users to get an islamophobic classification for text collected from
    any source and present such data in understandable visualizations.
  </p>
</div>
{%endblock%}
